# Ignorar arquivos Parquet
*.parquet
*.parquet.snappy

/app/datasets/pypi/csv/*/*.csv
/app/datasets/pypi/json/*/*.json
/app/datasets/pypi/parquet/*/*.parquet

/app/datasets/github_commits/csv/*/*.csv
/app/datasets/github_commits/json/*/*.json
/app/datasets/github_commits/parquet/*/*.parquet

/app/datasets/nyc_taxi/csv/*/*.csv
/app/datasets/nyc_taxi/json/*/*.json
/app/datasets/nyc_taxi/parquet/*/*.parquet

/app/datasets/fake_sales/csv/*/*.csv
/app/datasets/fake_sales/json/*/*.json
/app/datasets/fake_sales/parquet/*/*.parquet


/app/datasets_and_models_output/backup/*
/app/datasets_and_models_output/benchmarks/*

/exploracao_e_graficos/*.csv

# Ignorar diretórios comuns de dados
/data/
/tmp/

# Ignorar arquivos temporários
*.tmp
*.log

# Ignorar arquivos gerados pelo Jupyter Notebook
.ipynb_checkpoints/

# Ignorar arquivos do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store

# Ignorar diretórios do Cursor
.idea
